
.form-container {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.form-field {
  flex-grow: 1;
  margin-right: 10px;
  width: 300px;

}

h2{
  color: white;
  background-color:#683ab71b;
}
