
   
  .addButton {
    position: fixed;
    z-index: 99;
    bottom: 40px;
    left: 40px;
    border-radius: 50%; /* עיגול את קצוות הכפתור כך שיהיה עגול */
    animation: pulse 2s infinite alternate; /* אנימציה תחזורית באופן חוזר */
    box-shadow: 0 0 20px rgba(50, 61, 72, 0.5), /* צל מתאים לבועות */
                0 0 20px rgba(0, 123, 255, 0.5), /* צל מתאים לבועות */
                0 0 20px rgba(0, 123, 255, 0.5), /* צל מתאים לבועות */
                0 0 20px rgba(0, 123, 255, 0.5); /* צל מתאים לבועות */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  